{% extends 'base.html' %}

{% block content %}

{% if object %}
    <h1>Edit <span class="orange-text">{{ object.common_name }}</span></h1>
{% else %}
<h1>Add a Finch</h1>
{% endif %}
<form action="" method="POST">
    <!-- Django requires the following for security purposes -->
    {% csrf_token%}
    <div >
        <!-- Render the inputs inside of <tr>s & <td>s -->
        {{ form.as_p }}
        <!-- <label for="migratory">Migratory</label>
        <input type="checkbox" name="migratory" id="migratory"> -->
    </div>
    <input type="submit" value="Submit Your Finch!" class="btn">
</form> 


<script>
let labelEl = document.querySelector('label[for="id_migratory"]')
console.log(labelEl, "Label")
let checkBoxEl = document.getElementById('id_migratory')

labelEl.appendChild(checkBoxEl)
checkBoxEl.checked = 'checked';
checkBoxEl.classList.add('filled-in')

// checkBoxEl.addEventListener('change', function(evt) {
//     if (checkBoxEl.checked === 'checked') {
//         checkBoxEl.checked = 'unchecked';
//     }
//     if (checkBoxEl.checked === 'unchecked') {
//         checkBoxEl.checked = 'checked';
//     }
//     console.log(checkBoxEl, "Event")
// })
</script>

{% endblock %}
